@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Poppins:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}

.main{
    width:100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(images/pexels-craig-dennis-205421.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color:#fff;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: right;
    height: 72px;

}

ul{
    float: right;
    display:flex;
    justify-content:center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: yellow
}

.Search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid white;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float:left;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn {
    width: 100px;
    height: 40px;
    background: transparent;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.btn:focus {
    outline: none;
}

.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    padding-top: 200px;
    transform: rotate(-35deg) translate(180px, -300px); 
}

.content a{
    transition: .3s ease;
}

.form{
    width: 250px;
    height: 290px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    position: relative;
    top: -150px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
    background: black;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-size: 22px;
    background-color: transparent;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.btn {
    background-color: brown;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.link {
    margin-top: 10px;
    text-align: center;
}

.link a {
    color: blueviolet;
    text-decoration: none;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}